.contact-field {
  width: 600px;
  margin: 50px auto;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field input {
  margin-top: 5px;
  padding: 5px 10px;
}
.submit-button {
  margin-top: 8px;
  padding: 2px 15px;
  border-radius: 3px;
  font-size: 18px;
}
